<div class="ui mini icon input opti-grid-basic-filter">
    {{input placeholder=operandDisplay value=column.searchValue}}
    {{#unless iconToggle}}
        <i class="search icon"></i>
    {{else}}
        <i {{action 'clearSearch'}} class="times link icon"></i>
    {{/unless}}
</div>